html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #f0f8ff;
  }
  main {
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .sir {
    color: #c6e2ff;
    font-family: "Tomatoes", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    text-align: center;
  }